<%- include('Partials/header'); -%>

    <h1>Compose</h1>

    <form action="/compose" method="post">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
        </div>

        <div class="mb-3" style="margin-top: 3%;">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="post"></textarea>
        </div>


        <button type="submit" class="btn btn-primary" style="margin-top: 3%;">Publish</button>
    </form>

    <%- include('Partials/footer'); -%>