<%- include('header') -%>
<h1> Heelomy </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eveniet inventore culpa illo? Nam eaque facilis ut sit cumque provident, autem repellat exercitationem in quae iure hic ullam labore temporibus.</p>
<%- include('footer') -%>